{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Profile list</h1>
<br/>

{% if profiles %}
    {% for profile in profiles %}

    <div class="card text-bg-success mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">

            {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url}}" width=150 height=190 class="w3-round" alt="{{profile.user.username}}">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-start" alt="Profile Image">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ profile.user.username }}</h5>
              <p class="card-text"><a href="{% url 'profile' profile.user.id %}"> @{{profile.user.username|lower }}</a></p>
              <br/><br/>
              <p class="card-text"><small class="text-body-secondary">Last Updated: {{profile.date_modified }}

              </small></p>
            </div>
          </div>
        </div>
      </div>

      <br/><br/>

    {% endfor %}

{% endif %}

{% endblock %}

<!-- Card colors
card text-bg-dark mb-3
card text-bg-light mb-3
card text-bg-info mb-3
card text-bg-warning mb-3
card text-bg-success mb-3
card text-bg-danger mb-3
card text-bg-secondary mb-3 -->